form {
  width: 800px;
  max-width: 100%;
  margin: 0;
  padding: 15px 5px;
  background: #dcdbdb;

  h5 {
    margin-bottom: 15px;
  }
}

.control {
  margin-bottom: 10px;

  &.invalid, .required {
    border-color: #F13333B5;
  }

  .error-message {
    color: red;
    font-size: small;
  }
}
