<div class="container">
  <h2 class="fw-bold">About Us</h2>
  <div class="container d-flex p-0">
    <div class="d-flex flex-column justify-content-center w-50">
      <p>TechHub es tu punto de encuentro con la tecnología de última generación. Somos una plataforma especializada en la venta de hardware, componentes electrónicos y productos tecnológicos pensados tanto para entusiastas como para profesionales del sector. Desde placas madre, procesadores y tarjetas gráficas, hasta accesorios, periféricos y gadgets innovadores: todo en un solo lugar, fácil de encontrar y con la mejor atención.</p>
      <p>En TechHub no solo ofrecemos productos, sino una experiencia personalizada, con recomendaciones inteligentes, fichas técnicas claras y un proceso de compra ágil y seguro. Nuestra misión es acercarte lo mejor del mundo tech, con precios competitivos, envíos rápidos y un soporte que realmente entiende lo que necesitás.</p>
    </div>
    <div class="container w-50">
      <img width="600" src="sucursalTechHub.png" alt="Nuestra sucursal en Tandil"/>
    </div>
  </div>
</div>
