$color-clearance: #06a506;
$color-background: #eceaea;
$color-border: #747373;
$image-width: 100px;
$image-height: 80px;

.clearance {
  border: 2px solid $color-clearance !important;
}

.icon-clearance {
  background-color: $color-clearance;
  font-size: 15px;
  padding: 2px 6px;
  font-weight: bold;
}

table {
  thead {
    th {
      background-color: $color-background;
      border: none;
    }
  }
  tbody {
    td {
      background-color: $color-background;
      border: none;
    }
    tr {
      height: 100px;
      border-bottom: 1px solid $color-border;
    }
  }
}

th, td {
  vertical-align: middle;
}

.image-container {
  width: $image-width;
}

.image-product {
  max-width: 100%;
  max-height: $image-height;
  object-fit: cover;
}

td.text-wrap {
  width: 14rem;
}
