.clearance {
  border: 2px solid #06a506 !important;
}

.icon-clearance {
  background-color: #06a506;
  font-size: 15px;
  padding: 2px 6px;
  font-weight: bold;
}

table thead th, tbody td {
  background-color: #eceaea;
}

thead th, tbody td {
  border: none;
}

tbody tr {
  height: 100px;
  border-bottom: 1px solid #747373;
}

th, td {
  vertical-align: middle;
}

.image-container {
  width: 100px;
}

.image-product {
  max-width: 100%;
  max-height: 80px;
  object-fit: cover;
}

td.text-wrap {
  width: 14rem;
}
